<h1>Glossary</h1>
<div class="glossary-section">
	<h4>Access Modifiers</h4>
	<p>
		An access modifier is one of <code>public</code>, <code>protected</code> or <code>private</code>. They can be given to methods, variables (incl. fields), classes, interfaces and constructors. 
	</p>
	<p>
		If no access modifier is given, this is the fourth access modifier: default. See the entries for <code>public</code>, <code>protected</code>, <code>private</code> and default access for more info.
	</p>
	<h4>Class</h4>
	<p>
		A <code>class</code> is a blueprint for an object. In a class you describe fields, methods and the special constructor.
	</p>
	<h4>Constructor</h4>
	<p>
		A special type of method which does <b>not</b> declare a return type, and has the same name as the <code>class</code> it's in. These methods are used to create an instance of the object whose blueprint is the <code>class</code>.
	</p>
	<h4>Default Access</h4>
	<p>
		The <code>default</code> access modifier (also known as package-private), is the access level given when the keyword is omitted. Package-private access allows members of the same <code>package</code> to access the item (item can be method, variable, constructor or <code>interface</code>), but not sub-classes or any other <code>class</code> (the world).
	</p>
	<h4>Field</h4>
	<p>
		A field is a variable, which has special status within a <code>class</code>. Fields are declared in the same way as variables, with the same access modifiers. A field will be remembered by the computer for as long as the object that created it is.
	</p>
	<h4>Keywords</h4>
	<p>
		A keyword is any <b>reserved</b> word within the language you're using. In other words, a keyword is any member of the language syntax. Within this glossary, all Java keywords have been highlighted like this: <code>public</code>, <code>private</code> and <code>interface</code>.
	</p>
	<h4>Variable</h4>
	<p>
		A variable is a named piece of information. Variables are given a type and a value, which the computer will remember until you don't need it anymore. Variables are also given an access modifier, and can be marked as <code>final</code>.
	</p>
</div>